In [1]:
import selenium

In [2]:
import webdriver_manager

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [4]:
options=webdriver.ChromeOptions()

In [5]:
driver=webdriver.Chrome(options=options)

In [6]:
driver.get('https://www.amazon.in/')

In [7]:
search=driver.find_element(By.XPATH,".//input[@class='nav-input nav-progressive-attribute']")

In [10]:
search.send_keys("dell laptop")

In [11]:
search.send_keys(Keys.ENTER)

In [22]:
l=driver.find_elements(By.XPATH,".//span[@class='a-size-medium a-color-base a-text-normal']")
Brands=[l[i].text for i in range(10)]

In [75]:
l1=driver.find_elements(By.XPATH,".//span[@class='a-price-whole']")
price=[l1[i].text for i in range(13)]
price

['660',
 '1,249',
 '1,499',
 '34,990',
 '35,990',
 '47,990',
 '35,990',
 '33,990',
 '43,990',
 '49,990',
 '35,990',
 '23,000',
 '76,990']

In [76]:
price=price[3:]
price

['34,990',
 '35,990',
 '47,990',
 '35,990',
 '33,990',
 '43,990',
 '49,990',
 '35,990',
 '23,000',
 '76,990']

In [47]:
final=[]
for i in range(10):
     final.append(Brands[i][:14])
final

['Dell 15 Laptop',
 'Dell 14 Laptop',
 'Dell 15 Laptop',
 'Dell 14 Laptop',
 'Dell 15 Laptop',
 'Dell 15 Laptop',
 'Dell 14 Laptop',
 'Dell 14 Laptop',
 'Dell Latitude ',
 'Dell G15 5520 ']

In [55]:
df=pd.DataFrame(columns=["Brand","Price"])

In [77]:
df['Brand']=final
df['Price']=price

In [78]:
df

            Brand   Price
0  Dell 15 Laptop  34,990
1  Dell 14 Laptop  35,990
2  Dell 15 Laptop  47,990
3  Dell 14 Laptop  35,990
4  Dell 15 Laptop  33,990
5  Dell 15 Laptop  43,990
6  Dell 14 Laptop  49,990
7  Dell 14 Laptop  35,990
8  Dell Latitude   23,000
9  Dell G15 5520   76,990

In [81]:
df.to_csv("amazon.csv")